@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Noto+Serif";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 28px;
    color: gold;
    margin-top: -20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


.faq {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: left;
}

.faq h3 {
    font-size: 28px;
    margin: 10px 0;
}

.faq p {
    font-size: 20px;
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 90px; 
}

